<?xml version="1.0"?>
<!--
/**
 * ezimerchant Payment Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   ezimerchant
 * @package    OnTechnology_Ezimerchant
 * @author     On Technology
 * @copyright  Copyright (c) 2010 On Technology Pty. Ltd. (http://www.ezimerchant.com/)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <OnTechnology_Ezimerchant>
            <version>1.0</version>
            <depends>
                <Mage_Payment />
            </depends>
        </OnTechnology_Ezimerchant>
    </modules>
    <global>
    	<models>
    		<ezimerchant>
	    		<class>OnTechnology_Ezimerchant_Model</class>
	    	</ezimerchant>
    	</models>
    	<helpers>
    		<ezimerchant>
    			<class>OnTechnology_Ezimerchant_Helper</class>
    		</ezimerchant>
    	</helpers>
    	<blocks>
    		<ezimerchant>
    			<class>OnTechnology_Ezimerchant_Block</class>
    		</ezimerchant>
    	</blocks>
        <resources>
            <ezimerchant_setup>
                <setup>
                    <module>OnTechnology_Ezimerchant</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ezimerchant_setup>
            <ezimerchant_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </ezimerchant_write>
            <ezimerchant_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </ezimerchant_read>
        </resources>
    </global>
    <default>
        <payment>
            <paystep>
            	<active>0</active>
            	<model>ezimerchant/paystep</model>
            	<title>ezimerchant</title>
            	<customer_group_access>0</customer_group_access>
		<customer_group>0</customer_group>
            	<allowspecific>0</allowspecific>
            	<debug>0</debug>
            	<cctypes>VI,MC</cctypes>
            	<payment_action>authorize_capture</payment_action>
            </paystep>
        </payment>
    </default>
</config>
